<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1343.22" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="20.2.0.50" targetFramework="net48" />
</packages>